* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    overflow: hidden;
}

.sidebarDiv {
    width: 100vw;
    /* height: 100vh; */
    min-width: 100vw;
    /* min-height: 100vh; */
}

.sidebarDiv button {
    width: 100%;
}

.sidebar {
    /* min-height: 100%; */
    min-height: 100vh;
}

.mainBar {
    min-height: 100vh;
    height: auto;
}

.dropdown {
    margin: 15px;
}